extends layout
block content
  #panel2.container
    #indexPage.has-background-grey.has-text-centered
      #usersname.has-text-warning.has-background-primary Logged In As #{username}
      #instructions.has-text-black 
        | - Welcome to Fire Mixtapes 
        br
        | - Here you will be able to create mixtapes and listen to them by using youtubes music and video library
        br
        | - To get started you can add playlists by going to the "Your Playlists" tab
        br
        | - There you can create playlists and add to them by using the built-in search engine
        br
        | - Once you've added your songs you can select your playlist and listen to your perfect creation
        br
        | - You will be able to broadcast songs you would like to recommend to everyone else online by using the "Recommend" button next to the song in your playlist
        br
        | - You can also go to the "Recommendations" tab to check out what others have recommended, or just chat with whoever else is online!
