extends layout
block content
  #panel2.container
    form(action="/login", method="post")
      .field
        .control
          label.label.has-text-white Username
          input.input.is-info(type="text",name="username",placeholder="username")
      .field
        .control
          label.label.has-text-white Password
          input.input.is-info(type="password",name="password")
          label.has-text-danger= message
      button.button.is-info Log in